.menu {
  text-align: center !important;
}

.span {
  font-size: 2.5rem;
}

.name {
  padding-top: 30px;
}

.tabs {
  display: inline-flex !important;
}

.home,
.about,
.experience,
.reach {
  padding-inline: 35px;
  font-size: 27px;
  cursor: pointer;
}

.home:hover,
.reach:hover
 {
  color: rgb(240, 128, 162);
}

.about:hover,
.experience:hover{
  color: #d4a36f;
}

i{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #3ac0c3, #9fbb37, oklab(0.69 0.18 0.08)); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}
