<section class="p-wrapper">
  <div class="container menu">
    <div class="col-sm-7">
      <div class="row">
        <span title="Menu" class="span">
          <label [routerLink]="['/home']"> <b><i>PRIYA</i></b> Gnanasekaran </label>
        </span><br />
      </div>
    </div>
    <div class="row tabs">
      <p [routerLink]="['/home']" [routerLinkActive]="['is-active']" class="home">Home</p>
      <p [routerLink]="['/about-me']" [routerLinkActive]="['is-active']" class="about">About</p>
      <p [routerLink]="['/experience']" [routerLinkActive]="['is-active']" class="experience">Experience</p>
      <p [routerLink]="['/feedback']" [routerLinkActive]="['is-active']" class="reach">Reach</p>
    </div>
  </div>
  <app-resume></app-resume>
</section>