.menu {
  text-align: center !important;
}

.span {
  font-size: 2.5rem;
}

.name {
  padding-top: 30px;
}

.tabs {
  display: inline-flex !important;
}

.home,
.about,
.experience,
.reach {
  padding-inline: 35px;
  font-size: 27px;
  cursor: pointer;
}

div p:hover::after,
div p.is-active::after {
  content: '';
  height: 9px;
  position: absolute;
  left: 1px;
  z-index: -1;
  bottom: 0;
  right: -3px;
}
