/* You can add global styles to this file, and also import other style files */

/* Wrapper Class */
.p-wrapper {
    position: relative;
}

.p-wrapper::before {
    content: "";
    background-image: url(./assets/gold-glitter-background-vector.jpg);
    height: 818px;
    width: 1515px;
    position: absolute;
    z-index: -1;
    overflow: auto;
}