<section>
    <div class="container">
        <div class="col-sm-5 container_1">
            <div class="profile">
            </div>
        </div>
        <div class="col-sm-7 container_2">
            <span class="p-tag">Front-End Angular Developer</span>
            <h1 class="mt-4">Priya Gnanasekaran</h1>
            <p class="p-des mt-3 mb-4">{{(longText | slice:0:400)}}</p>
            <label class="p-readmore" [routerLink]="['/about-me']">Read More <mat-icon
                    class="readmore ml-2">next_week</mat-icon></label>
        </div>
    </div>
</section>