.profile {
  background-image: url(../../../assets/portrait-p.png);
  height: 415px;
  width: 313px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 11em;
  border: #989898 solid 2px;
}

.p-tag {
  background: #989898;
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  font-size: 1em;
}

.p-des {
  color: #6c6b6b;
  width: 80%;
}

.container {
  display: inline-flex !important;
}

.container_1 {
  padding: 40px;
  padding-left: 200px;
}

.container_2 {
  padding: 100px;
  font-size: x-large;
}